[Desktop Entry]
Name=NSA Plugin
Name[ast]=Complemetnu NSA
Name[bs]=NSA priključak
Name[ca]=Connector de la NSA
Name[ca@valencia]=Connector de la NSA
Name[cs]=Modul NSA
Name[da]=NSA-plugin
Name[de]=NSA-Modul
Name[el]=Πρόσθετο NSA
Name[en_GB]=NSA Plugin
Name[es]=Complemento NSA
Name[fi]=NSA-liitännäinen
Name[fr]=Module externe NSA
Name[gd]=Plugan NSA
Name[gl]=Complemento de NSA
Name[hu]=NSA bővítmény
Name[ia]=Plugin de NSA
Name[id]=Plugin NSA
Name[is]=NSA-viðbót
Name[it]=Estensione NSA
Name[ko]=NSA 플러그인
Name[lt]=NSA papildinys
Name[mr]= NSA प्लगइन
Name[nb]=NSA programtillegg
Name[nds]=NSA-Moduul
Name[nl]=NSA plug-in
Name[nn]=NSA-tillegg
Name[pa]=NSA ਪਲੱਗਇਨ
Name[pl]=Wtyczka NSA
Name[pt]='Plugin' da NSA
Name[pt_BR]=Plugin NSA
Name[ro]=Extensie NSA
Name[ru]=Расширение от ЦРУ
Name[sk]=NSA plugin
Name[sl]=Vstavek NSA
Name[sr]=НСА‑ов прикључак
Name[sr@ijekavian]=НСА‑ов прикључак
Name[sr@ijekavianlatin]=NSA‑ov priključak
Name[sr@latin]=NSA‑ov priključak
Name[sv]=NSA-insticksprogram
Name[tr]=NSA Eklentisi
Name[uk]=Додаток NSA
Name[x-test]=xxNSA Pluginxx
Name[zh_CN]=NSA 插件
Name[zh_TW]=NSA 外掛程式
Comment=Test Plugin Spy
Comment[ast]=Complementu qu'escluca de prueba
Comment[bs]=Špijun za test priključaka
Comment[ca]=Connector de proves espia
Comment[ca@valencia]=Connector de proves espia
Comment[cs]=Testovací modul Spy
Comment[da]=Test-plugin spion
Comment[de]=Test-Spionagemodul
Comment[el]=Πρόσθετο κατάσκοπος για δοκιμή
Comment[en_GB]=Test Plugin Spy
Comment[es]=Complemento espía de pruebas
Comment[fi]=Testivakoiluliitännäinen
Comment[fr]=Module externe de test d'espionnage
Comment[gd]=Plugan deuchainneach brathadair
Comment[gl]=Complemento espía de proba
Comment[hu]=Teszt bővítmény kém
Comment[ia]=Essaya Plugin Spy
Comment[id]=Tes Plugin Mata-Mata
Comment[is]=Spy prófunarviðbót
Comment[it]=Estensione di test Spy
Comment[ko]=테스트 플러그인 첩자
Comment[lt]=Bandomasis papildinys - šnipas
Comment[mr]=चाचणी प्लगइन गुप्तहेर
Comment[nb]=Test tilleggsspion
Comment[nds]=Testmoduul Spioon
Comment[nl]=Plug-in spion testen
Comment[nn]=Spion for test-tillegg
Comment[pa]=ਟੈਸਟ ਪਲੱਗਇਨ ਸਪਾਈ
Comment[pl]=Wypróbuj szpiega wtyczki
Comment[pt]=Espião dos 'Plugins' de Testes
Comment[pt_BR]=Plugin de teste de espionagem
Comment[ro]=Extensie de testare Spion
Comment[ru]=Тестовое шпионское расширение
Comment[sk]=Testovací plugin špión
Comment[sl]=Preizkusni vohunski vstavek
Comment[sr]=Пробни прикључак шпијун
Comment[sr@ijekavian]=Пробни прикључак шпијун
Comment[sr@ijekavianlatin]=Probni priključak špijun
Comment[sr@latin]=Probni priključak špijun
Comment[sv]=Spioninsticksprogram för provning
Comment[tr]=Test Eklenti Casusu
Comment[uk]=Тестовий шпигунський додаток
Comment[x-test]=xxTest Plugin Spyxx
Comment[zh_CN]=Test Plugin Spy
Comment[zh_TW]=測試外掛程式
Type=Service
Icon=preferences-system-time

X-KDE-ServiceTypes=KService/NSA
X-KDE-Library=fakeplugin

X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=fakeplugin
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

X-My-Custom-Property=foo
Keywords=word1;word2
Keywords[ast]=pallabra1;pallabra2
Keywords[ca]=paraula1;paraula2
Keywords[ca@valencia]=paraula1;paraula2
Keywords[da]=ord1;ord2
Keywords[de]=Welt1;Welt2
Keywords[el]=λέξη1;λέξη2
Keywords[en_GB]=word1;word2
Keywords[es]=palabra1;palabra2
Keywords[fi]=sana1;sana2
Keywords[gd]=facal1;facal2
Keywords[gl]=palabra1;palabra2
Keywords[is]=word1;word2
Keywords[it]=parola1;parola2
Keywords[ko]=word1;word2
Keywords[nb]=ord1;ord2
Keywords[nl]=woord1;woord2
Keywords[nn]=ord1;ord2
Keywords[pl]=słowo1;słowo2
Keywords[pt]=palavra1;palavra2
Keywords[pt_BR]=palavra1;palavra2
Keywords[ru]=слово1;слово2
Keywords[sk]=word1;word2
Keywords[sl]=beseda1;beseda2
Keywords[sr]=реч1;реч2;
Keywords[sr@ijekavian]=реч1;реч2;
Keywords[sr@ijekavianlatin]=reč1;reč2;
Keywords[sr@latin]=reč1;reč2;
Keywords[sv]=ord1;ord2
Keywords[tr]=kelime1;kelime2
Keywords[uk]=слово1;слово2;word1;word2
Keywords[x-test]=xxword1xx;xxword2xx
Keywords[zh_CN]=word1;word2
Keywords[zh_TW]=單字1:單字2
#this one is comma separated
X-KDE-Keywords=word3,word4
X-KDE-Keywords[ast]=pallabra1,pallabra2
X-KDE-Keywords[ca]=paraula3,paraula4
X-KDE-Keywords[ca@valencia]=paraula3,paraula4
X-KDE-Keywords[da]=ord3,ord4
X-KDE-Keywords[de]=Welt3,Welt4
X-KDE-Keywords[el]=λέξη3,λέξη4
X-KDE-Keywords[en_GB]=word3,word4
X-KDE-Keywords[es]=palabra3,palabra4
X-KDE-Keywords[fi]=sana3,sana4
X-KDE-Keywords[gd]=facal3,facal4
X-KDE-Keywords[gl]=palabra3,palabra4
X-KDE-Keywords[is]=word3,word4
X-KDE-Keywords[it]=parola3,parola4
X-KDE-Keywords[ko]=word3,word4
X-KDE-Keywords[nb]=ord3,ord4
X-KDE-Keywords[nl]=woord3,woord4
X-KDE-Keywords[nn]=ord3,ord4
X-KDE-Keywords[pl]=słowo3,słowo4
X-KDE-Keywords[pt]=palavra3,palavra4
X-KDE-Keywords[pt_BR]=palavra3,palavra4
X-KDE-Keywords[ru]=слово3,слово4
X-KDE-Keywords[sk]=word3,word4
X-KDE-Keywords[sl]=beseda3,beseda4
X-KDE-Keywords[sr]=реч3,реч4
X-KDE-Keywords[sr@ijekavian]=реч3,реч4
X-KDE-Keywords[sr@ijekavianlatin]=reč3,reč4
X-KDE-Keywords[sr@latin]=reč3,reč4
X-KDE-Keywords[sv]=ord3,ord4
X-KDE-Keywords[tr]=kelime3,kelime4
X-KDE-Keywords[uk]=слово3,слово4,word3,word4
X-KDE-Keywords[x-test]=xxword3xx,xxword4xx
X-KDE-Keywords[zh_CN]=word3,word4
X-KDE-Keywords[zh_TW]=單字3:單字4
X-KDE-FormFactors=tablet,handset

MimeType=text/plain;image/png
