[Desktop Entry]
Name=No Plugin
Name[nl]=Geen plug-in
Name[uk]=Не додаток
Name[x-test]=xxNo Pluginxx
Comment=This does not have a library
Comment[nl]=Dit heeft geen bibliotheek
Comment[uk]=Для цього модуля бібліотеки немає
Comment[x-test]=xxThis does not have a libraryxx
Type=Service
Icon=preferences-system-time

X-KDE-ServiceTypes=KService/NSA

X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=fakeplugin
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
