[Desktop Entry]
Name=No Plugin
Name[ast]=Ensin complementos
Name[ca]=Sense connector
Name[ca@valencia]=Sense connector
Name[cs]=Žádný modul
Name[da]=Intet plugin
Name[de]=Kein Modul
Name[el]=Χωρίς πρόσθετο
Name[en_GB]=No Plugin
Name[es]=Ningún complemento
Name[fi]=Ei liitännäistä
Name[fr]=Aucun module externe
Name[gd]=Gun phlugan
Name[gl]=Non hai ningún complemento
Name[hu]=Nincsenek bővítmények
Name[ia]=Necun Plugin
Name[id]=Tak Ada Plugin
Name[is]=Engin viðbót
Name[it]=Senza estensione
Name[ko]=플러그인 없음
Name[lt]=Nerasta papildinių
Name[mr]=प्लगइन नाही
Name[nb]=Ingen programtillegg
Name[nds]=Keen Moduul
Name[nl]=Geen plug-in
Name[nn]=Inkje tillegg
Name[pa]=ਪਲੱਗਇਨ ਨਹੀਂ
Name[pl]=Brak wtyczki
Name[pt]=Sem 'Plugin'
Name[pt_BR]=Nenhum plugin
Name[ro]=Nicio extensie
Name[ru]=Нет модуля
Name[sk]=Žiadny plugin
Name[sl]=Brez vstavka
Name[sr]=Никакав прикључак
Name[sr@ijekavian]=Никакав прикључак
Name[sr@ijekavianlatin]=Nikakav priključak
Name[sr@latin]=Nikakav priključak
Name[sv]=Inget insticksprogram
Name[tr]=Eklenti Yok
Name[uk]=Не додаток
Name[x-test]=xxNo Pluginxx
Name[zh_CN]=无插件
Name[zh_TW]=沒有外掛程式
Comment=This does not have a library
Comment[ast]=Esto nun tien una llibrería
Comment[ca]=Aquest no té cap biblioteca
Comment[ca@valencia]=Este no té cap biblioteca
Comment[cs]=Toto nemá knihovnu
Comment[da]=Dette har ikke et bibliotek
Comment[de]=Dies hat keine Bibliothek
Comment[el]=Αυτό δεν περιέχει βιβλιοθήκη
Comment[en_GB]=This does not have a library
Comment[es]=Esto no posee una biblioteca
Comment[fi]=Tällä ei ole kirjastoa
Comment[fr]=Cela n'a pas de bibliothèque
Comment[gd]=Chan eil leabharlann aige
Comment[gl]=Isto non ten unha biblioteca
Comment[hu]=Ennek nincsen függvénykönyvtára
Comment[ia]=Isto non ha un bibliotheca
Comment[id]=Ini tidak mempunyai pustaka
Comment[is]=Þetta er ekki með aðgerðasafn
Comment[it]=Questo non ha una libreria
Comment[ko]=이 플러그인은 라이브러리를 포함하지 않음
Comment[lt]=Tai neturi bibliotekos
Comment[mr]=यात लायब्रेरी नाही
Comment[nb]=Denne har ikke et bibliotek
Comment[nds]=Dor gifft dat keen Bibliotheek to
Comment[nl]=Dit heeft geen bibliotheek
Comment[nn]=Dette har ikkje noko bibliotek
Comment[pa]=ਇਹ ਕੋਲ ਲਾਇਬਰੇਰੀ ਨਹੀਂ ਹੈ
Comment[pl]=Nie ma to biblioteki
Comment[pt]=Não possui nenhuma biblioteca
Comment[pt_BR]=Isto não tem uma biblioteca
Comment[ro]=Aceasta nu are o bibliotecă
Comment[ru]=Нет библиотеки для этого модуля
Comment[sk]=Toto nemá knižnicu
Comment[sl]=To nima knjižnice
Comment[sr]=Ово нема библиотеку
Comment[sr@ijekavian]=Ово нема библиотеку
Comment[sr@ijekavianlatin]=Ovo nema biblioteku
Comment[sr@latin]=Ovo nema biblioteku
Comment[sv]=Detta har inte ett bibliotek
Comment[tr]=Bir kütüphanesi yok
Comment[uk]=Для цього модуля бібліотеки немає
Comment[x-test]=xxThis does not have a libraryxx
Comment[zh_CN]=不包含库
Comment[zh_TW]=沒有函式庫
Type=Service
Icon=preferences-system-time

X-KDE-ServiceTypes=KService/NSA

X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=fakeplugin
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
