[Desktop Entry]
Name=No Plugin
Name[ca]=Sense connector
Name[ca@valencia]=Sense connector
Name[cs]=Žádný modul
Name[de]=Kein Modul
Name[es]=Ningún complemento
Name[fi]=Ei liitännäistä
Name[gl]=Non hai ningún complemento
Name[hu]=Nincsenek bővítmények
Name[ia]=Necun Plugin
Name[it]=Nessuna estensione
Name[ko]=플러그인 없음
Name[nb]=Ingen programtillegg
Name[nds]=Keen Moduul
Name[nl]=Geen plug-in
Name[pl]=Brak wtyczki
Name[pt]=Sem 'Plugin'
Name[pt_BR]=Nenhum plugin
Name[sk]=Žiadny plugin
Name[sr]=Никакав прикључак
Name[sr@ijekavian]=Никакав прикључак
Name[sr@ijekavianlatin]=Nikakav priključak
Name[sr@latin]=Nikakav priključak
Name[sv]=Inget insticksprogram
Name[tr]=Eklenti Yok
Name[uk]=Не додаток
Name[x-test]=xxNo Pluginxx
Name[zh_TW]=沒有外掛程式
Comment=This does not have a library
Comment[ca]=Això no té cap biblioteca
Comment[ca@valencia]=Això no té cap biblioteca
Comment[cs]=Toto nemá knihovnu
Comment[de]=Dies hat keine Bibliothek
Comment[es]=Esto no posee una biblioteca
Comment[fi]=Tällä ei ole kirjastoa
Comment[gl]=Isto non ten unha biblioteca
Comment[hu]=Ennek nincsen függvénykönyvtára
Comment[ia]=Isto non ha un bibliotheca
Comment[it]=Non ha una libreria
Comment[ko]=이 플러그인은 라이브러리를 포함하지 않음
Comment[nb]=Denne har ikke et bibliotek
Comment[nds]=Dor gifft dat keen Bibliotheek to
Comment[nl]=Dit heeft geen bibliotheek
Comment[pl]=Nie ma to biblioteki
Comment[pt]=Não possui nenhuma biblioteca
Comment[pt_BR]=Isto não tem uma biblioteca
Comment[sk]=Toto nemá knižnicu
Comment[sr]=Ово нема библиотеку
Comment[sr@ijekavian]=Ово нема библиотеку
Comment[sr@ijekavianlatin]=Ovo nema biblioteku
Comment[sr@latin]=Ovo nema biblioteku
Comment[sv]=Detta har inte ett bibliotek
Comment[tr]=Bir kütüphanesi yok
Comment[uk]=Для цього модуля бібліотеки немає
Comment[x-test]=xxThis does not have a libraryxx
Comment[zh_TW]=沒有函式庫
Type=Service
Icon=preferences-system-time

X-KDE-ServiceTypes=KService/NSA

X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=fakeplugin
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
