[Desktop entry]
Type=Service
Icon=
Name=Dummy
Name[bs]=Lažni
Name[ca]=Simulació
Name[ca@valencia]=Simulació
Name[cs]=Falešný
Name[da]=Attrap
Name[de]=Dummy
Name[el]=Εικονικό
Name[en_GB]=Dummy
Name[es]=Ficticio
Name[fi]=Testi
Name[fr]=Factice
Name[gl]=De probas
Name[hu]=Üres
Name[ia]=Dummy
Name[id]=Rekaan
Name[it]=Finto
Name[ko]=가짜
Name[lt]=Butaforinis
Name[mr]=नकली
Name[nb]=Dummy
Name[nds]=Platzholler
Name[nl]=Dummy
Name[pa]=ਫ਼ਰਜੀ
Name[pl]=Fikcyjna
Name[pt]=Testes
Name[pt_BR]=Teste
Name[ro]=Machetă
Name[ru]=Тестовая служба
Name[sk]=Prázdne
Name[sl]=Preizkusno
Name[sr]=Лажњак
Name[sr@ijekavian]=Лажњак
Name[sr@ijekavianlatin]=Lažnjak
Name[sr@latin]=Lažnjak
Name[sv]=Test
Name[tr]=Sahte
Name[uk]=Макет
Name[x-test]=xxDummyxx
Name[zh_CN]=虚假
Name[zh_TW]=Dummy
ServiceTypes=Dummy
X-KDE-Library=kservicetojsontest
X-KDE-PluginInfo-Author=Aurélien Gâteau
X-KDE-PluginInfo-Email=agateau@kde.org
X-KDE-PluginInfo-Name=kservicetojsontest
X-KDE-PluginInfo-Version=0.1
