[Desktop entry]
Type=Service
Icon=
Name=Dummy
Name[ca]=Simulació
Name[de]=Dummy
Name[fi]=Testi
Name[nl]=Dummy
Name[pt]=Testes
Name[pt_BR]=Teste
Name[sk]=Prázdne
Name[sv]=Test
Name[uk]=Макет
Name[x-test]=xxDummyxx
ServiceTypes=Dummy
X-KDE-Library=kservicetojsontest
X-KDE-PluginInfo-Author=Aurélien Gâteau
X-KDE-PluginInfo-Email=agateau@kde.org
X-KDE-PluginInfo-Name=kservicetojsontest
X-KDE-PluginInfo-Version=0.1
